/* Empty. Add your own CSS if you like */
.textcenter{
	width:100%;
	text-align:center;
}
.row{
	margin:0px;
	border: 0px;
}
.borderEdge{
	border-style: solid;
	border-width: 2px;
}
.slotRow{
	height:100px;
	background-color: #F5F5F5;
}
.slot{
	height:100%;	
}
.gray{
	background-color: #C0C0C0;
}
table{
	width:100%;
}