<ion-view title="myCarPark" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 75px;"></div>
    <a ui-sref="menu.reserveBooking" id="myCarPark-button5" class="button button-positive  button-block">Reserve Booking</a>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <a ui-sref="menu.myBooking" id="myCarPark-button6" class="button button-positive  button-block">View Booking</a>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
  </ion-content>
</ion-view>