<ion-view title="Signup" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <form id="signup-form2" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input3">
          <input type="text" placeholder="ID">
        </label>
        <label class="item item-input" id="signup-input4">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input" id="signup-input5">
          <input type="password" placeholder="Password">
        </label>
        <label class="item item-input" id="signup-input6">
          <input type="text" placeholder="Phone">
        </label>
      </ion-list>
      <button id="signup-button3" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>